<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grace.security.mapper.MenuMapper">


    <select id="getAllPermissionsByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT sm.permission
        FROM
            sys_user_role AS sur
                LEFT JOIN sys_role AS sr ON sr.id=sur.role_id
                LEFT JOIN sys_role_menu AS srm ON srm.role_id=sur.role_id
                LEFT JOIN sys_menu AS sm ON sm.id=srm.menu_id
        WHERE
            sur.user_id=#{userid}
          AND
            sr.status=0
          AND
            sm.status=0
          AND sm.type != 0;

    </select>



</mapper>