<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grace.security.mapper.RoleMapper">

    <!--   这种增强版的分页sql的子查询一定要加上ORDER BY id，不然数据会不一致 -->
    <select id="selectAllRoleByLimit" resultType="com.grace.security.entity.Role">
        SELECT *
        FROM sys_role
        WHERE id >= (select id from sys_role ORDER BY id limit #{page},1)
          AND del_flag = 0
        limit #{size}
    </select>
    <select id="selectAllRoleCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_role
        WHERE del_flag=0
    </select>
    <select id="selectAllRole" resultType="com.grace.security.entity.Role">
        SELECT *
        FROM sys_role
        WHERE del_flag = 0
        AND status=0
    </select>
    <resultMap id="res1" type="com.grace.security.entity.Role">
        <result property="id" column="role_id"/>
    </resultMap>
    <select id="selectUserCheckedRoleByUserId" resultMap="res1">
        SELECT DISTINCT role_id
        from sys_user_role
        WHERE user_id = #{userid}
    </select>

    <delete id="deleteRoleAllMenu">
        DELETE
        FROM
        sys_role_menu
        WHERE role_id=#{roleId}
    </delete>

    <insert id="addMenuToRole">
        INSERT INTO sys_role_menu(id,role_id,menu_id)
        VALUES
        <foreach collection="roleMenuList" item="item" separator=",">
            (
            #{item.id},
            #{item.roleId},
            #{item.menuId}
            )
        </foreach>
    </insert>

    <select id="searchRoleByRoleNameAndLimit" resultType="com.grace.security.entity.Role">
        SELECT *
        FROM sys_role
        WHERE id >= (SELECT id FROM sys_role ORDER BY id limit #{page},1)
          AND del_flag = 0
          AND `name` LIKE CONCAT('%',#{roleName}, '%')
        limit #{size}
    </select>
    <select id="searchRoleCountByRoleName" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_role
        WHERE `name` LIKE CONCAT('%', #{roleName}, '%')
          AND del_flag = 0
    </select>
</mapper>