<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grace.console.mapper.ConfigVersionMapper">


    <select id="getRevisionsConfigListItemVOByPage" resultType="com.grace.console.vo.ConfigVersionListItemVO">

        SELECT
            id,
            namespace_id,
            group_name,
            data_id,
            operation_type,
            operation_time
        FROM
            sys_revisions_config
        WHERE namespace_id = #{namespaceId}
          AND group_name = #{groupName}
          AND data_id = #{dataId}
        ORDER BY id DESC
        LIMIT #{page},#{size}
    </select>
    <select id="getRevisionsConfigTotalCount" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            sys_revisions_config
        WHERE namespace_id = #{namespaceId}
          AND group_name = #{groupName}
          AND data_id = #{dataId}
    </select>
    <select id="getRevisionsConfig" resultType="com.grace.common.entity.ConfigVersion">
        SELECT
            id,
            namespace_id,
            group_name,
            data_id,
            content,
            md5,
            config_desc,
            type,
            operation_user_id,
            operation_user_ip,
            operation_type,
            operation_time
        FROM sys_revisions_config
        WHERE id = #{revisionsConfigId}
    </select>
</mapper>